@charset "UTF-8";
html {
  color: #000C;
  background: #EEE;
}
h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
}

header {
  background: #FFF;
}
header > div, main > div {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}
header > div > h1 {
  color: #000A;
  font-size: 1.375rem;
}
main > div > div {
  margin-bottom: 1rem;
}
main > div > div:nth-of-type(2n + 1) > h2 {
  color: #000A;
  font-size: 1.25rem;
}
main > div > div:nth-of-type(2n) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1rem;
}
main > div > div:nth-of-type(2n):last-of-type {
  margin-bottom: 0;
}
main > div > div:nth-of-type(2n) > a {
  padding: 1rem;
  display: block;
  background: #FFF;
}
main > div > div:nth-of-type(2n) > a:hover {
  background: #FAFAFA;
}
main > div > div:nth-of-type(2n) > a > img {
  height: 128px;
  margin: 0 auto 1rem;
}
main > div > div:nth-of-type(2n) > a > h3 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  text-align: center;
}
main > div > div:nth-of-type(2n) > a > p {
  line-height: 1.375;
  text-align: center;
  word-wrap: break-word;
}

@media (max-width: 960px) {
  html {
    font-size: 14px;
  }
  main > div {
    padding: 0.5rem;
  }
  main > div > div {
    margin-bottom: 0.5rem;
  }
  main > div > div:nth-of-type(2n + 1) {
    padding: 0.5rem 0;
  }
}